.login_page{
    width: 30%;
    height: 80%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    margin-top: 250px;
    margin-left: 400px;
    padding: 10px 5px 10px 5px;
    height: 0px;
    
}


input {
    border: none;
    width: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 25px;
    font-size: 20px;
    font-weight: 200;
    
}
/* 

.container {
    max-width: 1680px;
}

form{
    width: 10%;
    background-color: peru;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 70%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color:black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: black;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

 */
