body {
    margin: 0px;
    background-color: #F5F5F5;
}

.container {
    max-width: 1680px;
    /* Centers it within body */
    margin: auto;
    background-color: white;

    /* IMPORTANT NOTICE HERE: ALL FONTS ARE THE SAME */
    /* Set font for all items */
    font-family: system-ui;
    font-style: normal;

    /* Display set to flex so we can put items side by side */
    display: flex;

    /* Allows container to fill screen */
    height: 100vh;


}

/* All elements in left_container */
.left_bar_container {
    flex: 1 0 15%;
    background-color: #01426A;
    color: white;

}

.left_bar_container > .icon_and_admin_text {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

}

.left_bar_container > .icon_and_admin_text > img {
    height: 50px;
    margin: 20px;

}

.left_bar_container > .icon_and_admin_text > p {
    font-size: 26px;
    font-weight: 700;
    margin: 10px;

}

/* This acts like a button, but couldn't include all the properties I wanted to, so turned it into a flexbox instead */
.left_bar_container > .button {
    display: flex;
    align-items: center;

    /* Changes cursor into pointer onhover */
    cursor: pointer;

    /* Need this to allow the button to be opaque, but keep the text non-opaque */
    background-color: rgba(159, 162, 180, 0.08);

    border: none;
    width: 100%;
    margin: 0px;

}

.left_bar_container > .button:hover {
    background-color: #D44420;
    border-radius: 25px;
    color: black;
    font-weight: bold;
    transition: 0.7s;
}

.left_bar_container > .button > p {
    font-size: 15px;
    margin: 0px;
}

.left_bar_container > .button > img {
    margin: 15px 25px;
}


/* End of left_container */

.right_side_container {
    flex: 1 0 85%;
    background-color: #F5F5F5;
}

.right_side_container > .toptopbar {
    display: flex;
    align-items: center;
    margin: 0px 33px;

}

.right_side_container > .toptopbar > .items_label {
    font-size: 24px;
    font-weight: 700;

    /* Flex grow pushes the logout button all the way to the right */
    flex-grow: 1;
}

.right_side_container > .toptopbar > .logout {
    width: 100px;
    height: 30px;
    background-color: #01426A;
    color: white;
    cursor: pointer;

}

.right_side_container > .toptopbar > .logout:hover {
    background-color: #D44420;
    border: none;
}

.right_side_container > .all_items_container {
    background-color: white;
    margin: 0px 20px;
    border: lightgray;
    border-style: solid;
    border-radius: 10px;

    height: 86%;

}
.all_items_container{
    position: relative;
    width: 600px;
    height: 50px;
    left: 300px;
    top: 10px;
    
}
.new_items_info{
         border: none;
         background: none;
         padding: 150px;
         padding-left: 200px;
         font-weight: 700;
         width: 105%;
         position: relative;
         

}
.image__submit {
    background: navy;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 20%;
    color: white;
    cursor: pointer;
    margin-left: 100px;
}
.final__submit {
    background: #D44420;
    font-size: 10px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 13%;
    color: white;
    cursor: pointer;
    margin-left: 100px;
}
.Name{
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 34px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}
