<%- include('partials/navbar') %>
<link rel="stylesheet" href="css/admin-home.css">
        <!-- Picture of free swap front door, title, and information about the free swap. -->
        <div style="display: flex; flex-wrap: wrap; text-align: center; padding: 10px;">
          <div style="flex: 0 0 60%">
            <p style="
            color: #d44420;
            font-size: 50px;">
                About
            </p>

            <p style="
            color: #01426a;
            font-size: 25px;
          ">
                The Mac Free Swap is a free item exchange run by the Macalester<br />
                Sustainability Office. The exchange has been helping Macalester
                achieve<br />
                our Zero Waste goal since 2008, emphasizing the “reduce” and
                “reuse”<br />
                portions of “reduce, reuse, and recycle.” It diverts useful materials
                to the<br />
                Mac community for reuse instead of sending items to a landfill.<br />
                <br />The purpose of this small-scale project based on the circular
                economy<br />
                model is to keep the benefits of free items within the Mac
                community<br />
                rather than contributing to businesses’ profits. This model relies on
                mutual<br />
                aid to function because in order for folks to find items they need,
                other<br />
                folks need to contribute items they don’t.<br><br> The Free Swap is open to all Macalester community members. 
                <br>Drop off items that are in good condition and that can fit on a shelf.<br> Take items you love and use heavily to 
                ensure the resources used to produce<br> the item do not go to waste.<br /><br />
            </p>
          </div>
            <img src="images/front-door.png" alt="" width="560px"/>

          
            <p style="
            color: #01426a;
            font-size: 30px;
            flex: 0 0 50%;
            margin-top: 40px;
          ">
                Location: in
                the garage behind the<br> Sustainability Office at 1657 Lincoln<br/>
                (second house behind 77 Mac).<br /><br />
                Hours: open 9am-6pm daily.
            </p>
            <iframe style="flex: 0 0 50%; height: 628px; margin-top: 40px;" src="https://maps.google.com/maps?q=1657%20Lincoln%20Avenue,%20Saint%20Paul,%20MN&t=k&z=17&ie=UTF8&iwloc=&output=embed" 
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
      
          
    
        </div>
       
      </div>
    
     
</body>
</html>