<%- include('partials/navbar') %>

        <!-- Picture of free swap front door, title, and information about the free swap. -->
        <div>
            <img src="images/front-door.png" alt="" height="400" style="
            position: relative;
            top: 700px;
            left: 900px;
            width: 500px;
            height: 550px;
            border: none;
          " />

            <p style="
            color: #d44420;
            font-size: 50px;
            position: relative;
            bottom: 600px;
            left: 60px;
          ">
                About
            </p>

            <p style="
            color: #01426a;
            font-size: 25px;
            position: relative;
            bottom: 600px;
            left: 70px;
          ">
                The Mac Free Swap is a free item exchange run by the Macalester<br />
                Sustainability Office. The exchange has been helping Macalester
                achieve<br />
                our Zero Waste goal since 2008, emphasizing the “reduce” and
                “reuse”<br />
                portions of “reduce, reuse, and recycle.” It diverts useful materials
                to the<br />
                Mac community for reuse instead of sending items to a landfill.<br />
                <br />The purpose of this small-scale project based on the circular
                economy<br />
                model is to keep the benefits of free items within the Mac
                community<br />
                rather than contributing to businesses’ profits. This model relies on
                mutual<br />
                aid to function because in order for folks to find items they need,
                other<br />
                folks need to contribute items they don’t.<br><br> The Free Swap is open to all Macalester community members. 
                <br>Drop off items that are in good condition and that can fit on a shelf.<br> Take items you love and use heavily to 
                ensure the resources used to produce<br> the item do not go to waste.<br /><br />
            </p>
            <p style="
            font-family: Barlow;
            color: #01426a;
            font-size: 30px;
            position: relative;
            bottom: 400px;
            left: 300px;
          ">
                Location: in
                the garage behind the<br> Sustainability Office at 1657 Lincoln<br/>
                (second house behind 77 Mac).<br /><br />
                Hours: open 9am-6pm daily.
            </p>
        </div>
        <div class="mapouter"><div class="gmap_canvas"><iframe width="642" height="528" id="gmap_canvas" src="https://maps.google.com/maps?q=1657%20Lincoln%20Avenue,%20Saint%20Paul,%20MN&t=k&z=17&ie=UTF8&iwloc=&output=embed" 
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe>
        <br><style>.mapouter{position:relative;text-align:right;height:528px;width:642px;bottom:1370px;left:900px}</style><a href="https://www.embedgooglemap.net">embed google my maps</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:528px;width:642px;}</style></div></div>
    </div>
</body>
</html>