<%- include('partials/navbar') %>

        <!-- Picture of free swap front door, title, and information about the free swap. -->
        <div>
            <img src="images/front-door.png" alt="" height="400" style="
            position: absolute;
            top: 150px;
            right: 60px;
            width: 500px;
            height: 550px;
            border: none;
          " />

            <p style="
            color: #d44420;
            font-size: 50px;
            position: absolute;
            top: 30px;
            left: 60px;
          ">
                About
            </p>

            <p style="
            color: #01426a;
            font-size: 20px;
            position: absolute;
            top: 160px;
            left: 70px;
          ">
                The Mac Free Swap is a free item exchange run by the Macalester<br />
                Sustainability Office. The exchange has been helping Macalester
                achieve<br />
                our Zero Waste goal since 2008, emphasizing the “reduce” and
                “reuse”<br />
                portions of “reduce, reuse, and recycle.” It diverts useful materials
                to the<br />
                Mac community for reuse instead of sending items to a landfill.<br />
                <br />The purpose of this small-scale project based on the circular
                economy<br />
                model is to keep the benefits of free items within the Mac
                community<br />
                rather than contributing to businesses’ profits. This model relies on
                mutual<br />
                aid to function because in order for folks to find items they need,
                other<br />
                folks need to contribute items they don’t. <br /><br />Location: in
                the garage behind the Sustainability Office at 1657 Lincoln<br />
                (second house behind 77 Mac).<br /><br />
                Hours: open 9am-6pm daily.
            </p>
        </div>
    </div>
</body>

</html>