<%- include('partials/navbar') %>
<link rel="stylesheet" href="css/admin-home.css">
        <!-- Picture of free swap front door, title, and information about the free swap. -->
        <div style="display: flex; flex-wrap: wrap; text-align: center; padding: 20px;">
          <div style="flex: 1 0 10%" >
            <p style="
            color: #d44420;
            font-size: 50px;">
                About
            </p>
            <div style="
            color: #01426a;
            font-size: 25px;
          ">
            <p>
                The Mac Free Swap is a free item exchange run by the Macalester
                Sustainability Office. The exchange has been helping Macalester achieve
                our Zero Waste goal since 2008, emphasizing the “reduce” and
                “reuse”
                portions of “reduce, reuse, and recycle.” 
                </p>
                <p>
                It diverts useful materials
                to the
                Mac community for reuse instead of sending items to a landfill.
                The purpose of this small-scale project based on the circular
                economy
                model is to keep the benefits of free items within the Mac
                community
                rather than contributing to businesses’ profits. This model relies on
                mutual
                aid to function because in order for folks to find items they need,
                other
                folks need to contribute items they don’t.
                </p>
                <p>
                The Free Swap is open to all Macalester community members. 
                Drop off items that are in good condition and that can fit on a shelf. Take items you love and use heavily to 
                ensure the resources used to produce the item do not go to waste.
              </p>
            </div>
          </div>
          <img src="images/front-door.png" alt="" style="scale: 0.9;"/>
          
            <p style="
            color: #01426a;
            font-size: 30px;
            flex: 0 0 50%;
            
          ">
                Location: in
                the garage behind the<br> Sustainability Office at 1657 Lincoln<br/>
                (second house behind 77 Mac).<br /><br />
                Hours: open 9am-6pm daily.
            </p>
            <iframe style="flex: 0 0 50%; height: 628px;" src="https://maps.google.com/maps?q=1657%20Lincoln%20Avenue,%20Saint%20Paul,%20MN&t=k&z=17&ie=UTF8&iwloc=&output=embed" 
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
      
          
    
        </div>
       
      </div>
    
     
</body>
</html>