<!DOCTYPE html>
<!-- index.html will always be the first file the browser opens -->
<html lang="en-US">

<head>
    <!-- Includes information about website -->
    <title>
        Admin Page
    </title>
    <meta charset="utf-8"> <!-- IMPORTANT TO ADD THIS LINE -->
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <!-- allows website to be displayed correctly on mobile devices -->
    <meta name="author" content="Timothy Lang">
    <meta name="description" content="A website to host Free Swap">
    <meta name="keywords" content="Macalester, free swap">

    <!-- Folder that will determine css stylings -->
    <link rel="stylesheet" href="css/admin-newitem.css">

</head>
<body>
    <div class="container">
        <div class="left_bar_container">
            <div class="icon_and_admin_text">
                <img src="images/icon.png" alt="">
                <p>Free Swap Admin</p>
            </div>
            <div onclick="location.href = '/admin';" class="button">
                <img src="images/side_button.png" alt="">
                <p>All Items</p>
            </div>
            <div class="button" onclick="location.href = '/admin-newitem';">
                <img src="images/side_button.png" alt="">
                <p>New Items</p>
            </div>
        </div>
        <div class="right_side_container">
            <div class="toptopbar">
                <p class="items_label">Add new items</p>
                <button onclick="location.href = '/';" class="logout">LOGOUT</button>
            </div>
            <div class="all_items_container">
        <!-- add stuf ehere -->
                <div class = "new_items_info">
                    <form>
                     
                        <label for= "name">Item Name</label><br>
                        <input type="text" id="name" name="name" class="name"><br>
                        
                        
                        <label for="description" class = "box-titles">Description</label><br>
                        <input type='text' id ="description" name="description" class="description"><br/>
              
                        <label for="type">Type</label><br/>
                        <select name="type" id="type" class = "type">
                            <option value="Shirts">Shirts</option>
                            <option value="Shorts">Shorts</option>
                            <option value="Shoes">Shoes</option>
                            <option value="Books">Books</option>
                            <option value="House Items">House Items</option>
                            <option value="Other">Other</option>
                          </select>
                    </form>
                    <form action="/action_page.php" class="image-submit">
                        <input type="file" id="myFile" name="filename">
                    
                    <button class="final__submit">
                                <span class="button__text">submit</span>
                                <i class="button__icon fas fa-chevron-right"></i>
                </div>
                
            </div>
        </div>
    </div>
</body>