<%- include('partials/adminsidebars') %>
<link rel="stylesheet" href="css/admin-newitem.css">
        <!-- add stuff here -->
                <div class = "new_items_info">
                    <form>
                     
                        <label for= "name">Item Name</label><br>
                        <input type="text" id="name" name="name" class="name"><br>
                        
                        
                        <label for="description" class = "box-titles">Description</label><br>
                        <input type='text' id ="description" name="description" class="description"><br/>
              
                        <label for="type">Type</label><br/>
                        <select name="type" id="type" class = "type">
                            <option value="Shirts">Shirts</option>
                            <option value="Shorts">Shorts</option>
                            <option value="Shoes">Shoes</option>
                            <option value="Books">Books</option>
                            <option value="House Items">House Items</option>
                            <option value="Other">Other</option>
                          </select>
                    </form>
                    <form action="/action_page.php" class="image-submit">
                        <input type="file" id="myFile" name="filename">
                    
                    <button class="final__submit">
                                <span class="button__text">submit</span>
                                <i class="button__icon fas fa-chevron-right"></i>
                </div>
                
            </div>
        </div>
    </div>
</body>