<%- include('partials/navbar.ejs') %>
<link rel="stylesheet" href="css/Allitems.css">


        <div style="display: flex;">
        <div class="left_bar_container">
            <div class="icon_and_admin_text"></div> 
        </div>
        <div class="flex-container">
            <li class="flex-item">
                <img src="images/sample1.png" alt="Denim Jeans" style="width:50%" >
                <h1>All Stars</h1>
                <!-- <div class="overlay">
                    <p>Condition: good</p>
                    <p>Upload date: 10/23/1999</p>
                </div>               -->
            </li>
            <li class="flex-item">
                <img src="images/sample3.png" alt="Denim Jeans" style="width:50%" >
                <h1>Bucket Hat</h1>
                <!-- <div class="overlay">
                    <p>Condition: good</p>
                    <p>Upload date: 10/23/1999</p>
                </div>           -->
            </li>
            <li class="flex-item">
                <img src="images/sample4.png" alt="Denim Jeans" style="width:50%" >
                <h1>Socks</h1>
                <!-- <p>Condition: good</p> -->
            </li>
            <li class="flex-item">
                <img src="images/sample5.png" alt="Denim Jeans" style="width:50%" >
                <h1>Winter Coat</h1>
                <!-- <p>Condition: used</p> -->
            </li>
            <li class="flex-item">
                <img src="images/sample6.png" alt="Denim Jeans" style="width:50%" >
                <h1>Cleats</h1>
                <!-- <p>Condition: poor</p> -->
            </li>
            <li class="flex-item">
                <img src="images/sample7.png" alt="Denim Jeans" style="width:50%" >
                <h1>Necklace</h1>
                <!-- <p>Condition: new</p> -->
            </li>
            <li class="flex-item">
                <img src="images/sample2.png" alt="Denim Jeans" style="width:50%" >
                <h1>Dress Set</h1>
                <!-- <p>Condition: new</p> -->
            </li>
            <li class="flex-item">
                <img src="images/sample6.png" alt="Denim Jeans" style="width:50%" >
                <h1>Cleats</h1>
                <!-- <p>Condition: poor</p> -->
            </li>
            <li class="flex-item">
                <img src="images/sample7.png" alt="Denim Jeans" style="width:50%" >
                <h1>Necklace</h1>
                <!-- <p>Condition: new</p> -->
            </li>
            <li class="flex-item">
                <img src="images/sample1.png" alt="Denim Jeans" style="width:50%" >
                <h1>All Stars</h1>
                <!-- <p>Condition: good</p> -->
            </li>
            <li class="flex-item">
                <img src="images/sample3.png" alt="Denim Jeans" style="width:50%">
                <h1>Bucket Hat</h1>
                <!-- <p>Condition: new</p> -->
            </li>
            <li class="flex-item">
                <img src="images/sample4.png" alt="Denim Jeans" style="width:50%">
                <h1>Socks</h1>
                <!-- <p>Condition: good</p> -->
            </li>
            <li class="flex-item">
                <img src="images/sample5.png" alt="Denim Jeans" style="width:50%">
                <h1>Winter Coat</h1>
                <!-- <p>Condition: used</p> -->
            </li>
        </div>
    </div>   
</body>

</html>