<%- include('partials/navbar.ejs') %>
<link rel="stylesheet" href="css/Allitems.css">

        <div style="display: flex;">
        <div class="left_bar_container">
            <div class="icon_and_admin_text"></div> 
        </div>
        <div class="flex-container">
            <li class="flex-item">                          
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="images/sample1.png" alt="Denim Jeans" style="width:65%" ">
                      </div>
                      <div class="flip-card-back">
                        <h1>All Stars</h1>
                        <p>Condition: good</p>
                        <p>Upload date: 10/23/1999</p>
                      </div>
                    </div>
                </div>                            
            </li>
            <li class="flex-item">                
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="images/sample3.png" alt="Denim Jeans" style="width:65%" >
                      </div>
                      <div class="flip-card-back">
                        <h1>Bucket Hat</h1>
                        <p>Condition: new</p>
                        <p>Upload date: 1/26/2007</p>
                      </div>
                    </div>
                </div>
            </li>
            <li class="flex-item">                
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="images/sample4.png" alt="Denim Jeans" style="width:65%" >
                      </div>
                      <div class="flip-card-back">
                        <h1>Socks</h1>
                        <p>Condition: new</p>
                        <p>Upload date: 12/6/2006</p>
                      </div>
                    </div>
                </div>               
            </li>
            <li class="flex-item">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="images/sample5.png" alt="Denim Jeans" style="width:65%" >
                      </div>
                      <div class="flip-card-back">
                        <h1>Winter Coat</h1>
                        <p>Condition: used</p>
                        <p>Upload date: 2/16/2016</p>
                      </div>
                    </div>
                </div>   
            </li>
            <li class="flex-item">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="images/sample6.png" alt="Denim Jeans" style="width:65%" >
                      </div>
                      <div class="flip-card-back">
                        <h1>Cleats</h1>
                        <p>Condition: poor</p>
                        <p>Upload date: 3/8/2002</p>
                      </div>
                    </div>
                </div>   
            </li>
            <li class="flex-item">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="images/sample7.png" alt="Denim Jeans" style="width:65%" >
                      </div>
                      <div class="flip-card-back">
                        <h1>Necklace</h1>
                        <p>Condition: new</p>
                        <p>Upload date: 8/10/2020</p>
                      </div>
                    </div>
                </div>   
            </li>
            <li class="flex-item">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="images/sample4.png" alt="Denim Jeans" style="width:65%" >
                      </div>
                      <div class="flip-card-back">
                        <h1>Dress Set</h1>
                        <p>Condition: new</p>
                        <p>Upload date: 5/6/2021</p>
                      </div>
                    </div>
                </div>   
            </li>
            <li class="flex-item">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="images/sample6.png" alt="Denim Jeans" style="width:65%" >
                      </div>
                      <div class="flip-card-back">
                        <h1>Cleats</h1>
                        <p>Condition: poor</p>
                        <p>Upload date: 3/8/2002</p>
                      </div>
                    </div>
                </div>   
            </li>
            <li class="flex-item">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="images/sample7.png" alt="Denim Jeans" style="width:65%" >
                      </div>
                      <div class="flip-card-back">
                        <h1>Necklace</h1>
                        <p>Condition: new</p>
                        <p>Upload date: 8/10/2020</p>
                      </div>
                    </div>
                </div>   
            </li>
            <li class="flex-item">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="images/sample1.png" alt="Denim Jeans" style="width:65%" ">
                      </div>
                      <div class="flip-card-back">
                        <h1>All Stars</h1>
                        <p>Condition: good</p>
                        <p>Upload date: 10/23/1999</p>
                      </div>
                    </div>
                </div>      
            </li>
            <li class="flex-item">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="images/sample3.png" alt="Denim Jeans" style="width:65%" >
                      </div>
                      <div class="flip-card-back">
                        <h1>Bucket Hat</h1>
                        <p>Condition: new</p>
                        <p>Upload date: 1/26/2007</p>
                      </div>
                    </div>
                </div>
            </li>
            <li class="flex-item">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="images/sample4.png" alt="Denim Jeans" style="width:65%" >
                      </div>
                      <div class="flip-card-back">
                        <h1>Socks</h1>
                        <p>Condition: new</p>
                        <p>Upload date: 12/6/2006</p>
                      </div>
                    </div>
                </div>   
            </li>
            <li class="flex-item">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="images/sample5.png" alt="Denim Jeans" style="width:65%" >
                      </div>
                      <div class="flip-card-back">
                        <h1>Winter Coat</h1>
                        <p>Condition: used</p>
                        <p>Upload date: 2/16/2016</p>
                      </div>
                    </div>
                </div>   
            </li>
        </div>
    </div>   
</body>

</html>