<%- include('partials/navbar.ejs') %>
<link rel="stylesheet" href="css/Allitems.css">

        <div>
            <!-- <p style="font-family:Barlow ; color:#D44420; font-size: 40px; position: absolute; top: 50px; left: 530px">
                    All Items
                </p> -->
            <div class="flex-container">
                <!-- <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                    <h1>All Stars</h1>
                    <p class="price">free</p>
                    <p>Condition: good</p>   -->
                <li class="flex-item">
                    <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                    <h1>All Stars</h1>
                    <p>Condition: good</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample3.png" alt="Denim Jeans" style="width:50%">
                    <h1>Bucket Hat</h1>
                    <p>Condition: new</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample4.png" alt="Denim Jeans" style="width:50%">
                    <h1>Socks</h1>
                    <p>Condition: good</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample5.png" alt="Denim Jeans" style="width:50%">
                    <h1>Winter Coat</h1>
                    <p>Condition: used</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample6.png" alt="Denim Jeans" style="width:50%">
                    <h1>Cleats</h1>
                    <p>Condition: poor</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample7.png" alt="Denim Jeans" style="width:50%">
                    <h1>Necklace</h1>
                    <p>Condition: new</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample2.png" alt="Denim Jeans" style="width:50%">
                    <h1>Dress Set</h1>
                    <p>Condition: new</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample6.png" alt="Denim Jeans" style="width:50%">
                    <h1>Cleats</h1>
                    <p>Condition: poor</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample7.png" alt="Denim Jeans" style="width:50%">
                    <h1>Necklace</h1>
                    <p>Condition: new</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                    <h1>All Stars</h1>
                    <p>Condition: good</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample3.png" alt="Denim Jeans" style="width:50%">
                    <h1>Bucket Hat</h1>
                    <p>Condition: new</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample4.png" alt="Denim Jeans" style="width:50%">
                    <h1>Socks</h1>
                    <p>Condition: good</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample5.png" alt="Denim Jeans" style="width:50%">
                    <h1>Winter Coat</h1>
                    <p>Condition: used</p>
                </li>

            </div>
            <!-- <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="images/sample1.png" alt="Avatar" style="width:300px;height:200px; bottom:100px;" />
                            <!-- style="position:fixed;  top:220px; border:none;" /> -->
            <!-- </div>
                          <div class="flip-card-back">
                            <h1>A Pair of All Stars</h1>
                            <p>Upload date: 10/02/2022</p>
                            <p>Quality: good</p>
                          </div>
                        </div>
                    </div> -->
            <!-- <img src="images/sample1.png" alt="" height="150" class="icon" align=left
                    style="position:fixed;  top:220px; border:none;" /> -->
            <!-- <img src="images/sample2.png" alt="" height="150" class="icon" align=right
                    style="position:fixed;  top:220px; right:520px; border:none;" />
                <img src="images/sample3.png" alt="" height="150" class="icon" align=right
                    style="position:fixed;  top:220px; right:120px; border:none;" />
                <img src="images/sample4.png" alt="" height="150" class="icon" align=left
                    style="position:fixed;  top:420px; border:none;" />
                <img src="images/sample5.png" alt="" height="150" class="icon" align=right
                    style="position:fixed;  top:420px; right:550px; border:none;" />
                <img src="images/sample6.png" alt="" height="150" class="icon" align=right
                    style="position:fixed;  top:420px; right:10px; border:none;" /> -->

        </div>
    </div>
    </div>
</body>

</html>