<!DOCTYPE html>
<!-- index.html will always be the first file the browser opens -->
<html lang="en-US">

<head>
    <!-- Includes information about website -->
    <title>
        Example Website
    </title>
    <meta charset="utf-8"> <!-- IMPORTANT TO ADD THIS LINE -->
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <!-- allows website to be displayed correctly on mobile devices -->
    <meta name="author" content="Timothy Lang">
    <meta name="description" content="A website to host Free Swap">
    <meta name="keywords" content="Macalester, free swap">

    <!-- Folder that will determine css stylings -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/Allitems.css">

</head>

<body>
    <div class="container">
        <!-- Just a div, but exclusively for navigation bar at the top of the screen. Used by Google to help with search engine -->
        <nav class="navigation_bar">
            <div class="left_bar font">
                <!-- alt = alternate text shown if the image can't be displayed -->
                <img src="images/icon.png" alt="" height="65" class="icon">
                <!-- Table for div is to help center the text in it to be in the middle of the div -->
                <p>
                    Free Swap
                </p>
            </div>
            <div class="middle_bar">
                <button type="button" onclick="location.href = '/';" class="middle_items font">Home</button>
                <button type="button" onclick="location.href = '/about';" class="middle_items font">About</button>
                <button type="button" onclick="location.href = '/admin';" class="middle_items font">Admin</button>
                <button type="button" onclick="location.href = '/all-items';" class="middle_items font">All
                    Items</button>
            </div>
            <input type="Search" placeholder="Search" class="font search_bar">
        </nav>
        <div class="container"></div>
        <div>
            <!-- <p style="font-family:Barlow ; color:#D44420; font-size: 40px; position: absolute; top: 50px; left: 530px">
                    All Items
                </p> -->
            <div class="flex-container">
                <!-- <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                    <h1>All Stars</h1>
                    <p class="price">free</p>
                    <p>Condition: good</p>   -->
                <li class="flex-item">
                    <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                    <h1>All Stars</h1>
                    <p>Condition: good</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample3.png" alt="Denim Jeans" style="width:50%">
                    <h1>Bucket Hat</h1>
                    <p>Condition: new</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample4.png" alt="Denim Jeans" style="width:50%">
                    <h1>Socks</h1>
                    <p>Condition: good</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample5.png" alt="Denim Jeans" style="width:50%">
                    <h1>Winter Coat</h1>
                    <p>Condition: used</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample6.png" alt="Denim Jeans" style="width:50%">
                    <h1>Cleats</h1>
                    <p>Condition: poor</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample7.png" alt="Denim Jeans" style="width:50%">
                    <h1>Necklace</h1>
                    <p>Condition: new</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample2.png" alt="Denim Jeans" style="width:50%">
                    <h1>Dress Set</h1>
                    <p>Condition: new</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample6.png" alt="Denim Jeans" style="width:50%">
                    <h1>Cleats</h1>
                    <p>Condition: poor</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample7.png" alt="Denim Jeans" style="width:50%">
                    <h1>Necklace</h1>
                    <p>Condition: new</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                    <h1>All Stars</h1>
                    <p>Condition: good</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample3.png" alt="Denim Jeans" style="width:50%">
                    <h1>Bucket Hat</h1>
                    <p>Condition: new</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample4.png" alt="Denim Jeans" style="width:50%">
                    <h1>Socks</h1>
                    <p>Condition: good</p>
                </li>
                <li class="flex-item">
                    <img src="images/sample5.png" alt="Denim Jeans" style="width:50%">
                    <h1>Winter Coat</h1>
                    <p>Condition: used</p>
                </li>

            </div>
            <!-- <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="images/sample1.png" alt="Avatar" style="width:300px;height:200px; bottom:100px;" />
                            <!-- style="position:fixed;  top:220px; border:none;" /> -->
            <!-- </div>
                          <div class="flip-card-back">
                            <h1>A Pair of All Stars</h1>
                            <p>Upload date: 10/02/2022</p>
                            <p>Quality: good</p>
                          </div>
                        </div>
                    </div> -->
            <!-- <img src="images/sample1.png" alt="" height="150" class="icon" align=left
                    style="position:fixed;  top:220px; border:none;" /> -->
            <!-- <img src="images/sample2.png" alt="" height="150" class="icon" align=right
                    style="position:fixed;  top:220px; right:520px; border:none;" />
                <img src="images/sample3.png" alt="" height="150" class="icon" align=right
                    style="position:fixed;  top:220px; right:120px; border:none;" />
                <img src="images/sample4.png" alt="" height="150" class="icon" align=left
                    style="position:fixed;  top:420px; border:none;" />
                <img src="images/sample5.png" alt="" height="150" class="icon" align=right
                    style="position:fixed;  top:420px; right:550px; border:none;" />
                <img src="images/sample6.png" alt="" height="150" class="icon" align=right
                    style="position:fixed;  top:420px; right:10px; border:none;" /> -->

        </div>
    </div>
    </div>
</body>

</html>