<!DOCTYPE html>
<!-- index.html will always be the first file the browser opens -->
<html lang="en-US">

<head>
    <!-- Includes information about website -->
    <title>Example Website</title>
    <meta charset="utf-8" />
    <!-- IMPORTANT TO ADD THIS LINE -->
    <meta name="viewport" content="width=device-width, inital-scale=1" />
    <!-- allows website to be displayed correctly on mobile devices -->
    <meta name="author" content="Timothy Lang" />
    <meta name="description" content="A website to host Free Swap" />
    <meta name="keywords" content="Macalester, free swap" />

    <!-- Folder that will determine css stylings -->
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/Home.css" />
</head>

<body>
    <div class="container">
        <!-- Just a div, but exclusively for navigation bar at the top of the screen. Used by Google to help with search engine -->
        <nav class="navigation_bar">
            <div class="left_bar font">
                <!-- alt = alternate text shown if the image can't be displayed -->
                <img src="images/icon.png" alt="" height="65" class="icon" />
                <!-- Table for div is to help center the text in it to be in the middle of the div -->
                <p>Free Swap</p>
            </div>
            <div class="middle_bar">
                <button type="button" onclick="location.href = '/';" class="middle_items font">
                    Home
                </button>
                <button type="button" onclick="location.href = '/about';" class="middle_items font">
                    About
                </button>
                <button type="button" onclick="location.href = '/admin';" class="middle_items font">
                    Admin
                </button>
                <button type="button" onclick="location.href = '/all-items';" class="middle_items font">
                    All Items
                </button>
            </div>
            <input type="Search" placeholder="Search" class="font search_bar" />
        </nav>
        <div>
            <div class="top">
                <div class="flexbox">
                    <div class="opening_line">
                        <p class="Welcome">Welcome to the</p>
                        <p class="Welcome">
                            <b>Free Swap</b>
                        </p>
                        <p class="Welcome_2">Come and get <b>free items</b> or</p>
                        <p class="Welcome_2"><b>leave items</b> for others use.</p>
                    </div>
                    <img src="images/Macalester Logo.png" alt="" class="macalester_logo" />
                </div>
                <div class="shortcut_line">
                    <button type="button" onclick="" class="middle_items">Shirts</button>
                    <button type="button" onclick="" class="middle_items">Shorts</button>
                    <button type="button" onclick="" class="middle_items">Shoes</button>
                    <button type="button" onclick="" class="middle_items">Books</button>
                    <button type="button" onclick="" class="middle_items">House Items</button>
                    <div class="shop_now">
                        <p>Shop Now!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="latest_addition">
            <p class="latest_addition_opener">
                Latest Additions
            </p>
            <div class="latest_items_container">
                <img src="images/left_arrow.png" alt="" class="arrow" id="left_arrow">
                <div class="latest_items">
                    <div class="item">
                        <div class="card">
                            <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                            <h1>All Stars</h1>
                            <p class="price">$0</p>
                            <p>Condition: good</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                            <h1>All Stars</h1>
                            <p class="price">$0</p>
                            <p>Condition: good</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                            <h1>All Stars</h1>
                            <p class="price">$0</p>
                            <p>Condition: good</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                            <h1>All Stars</h1>
                            <p class="price">$0</p>
                            <p>Condition: good</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                            <h1>All Stars</h1>
                            <p class="price">$0</p>
                            <p>Condition: good</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                            <h1>All Stars</h1>
                            <p class="price">$0</p>
                            <p>Condition: good</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                            <h1>All Stars</h1>
                            <p class="price">$0</p>
                            <p>Condition: good</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                            <h1>All Stars</h1>
                            <p class="price">$0</p>
                            <p>Condition: good</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                            <h1>All Stars</h1>
                            <p class="price">$0</p>
                            <p>Condition: good</p>
                        </div>
                    </div>
                </div>
                <img src="images/right_arrow.png" alt="" class="arrow" id="right_arrow">
                <!-- Sets up javascript for moving elements left and right -->
                <script src="javascript/shuffle_latest_items.js"></script>
            </div>
        </div>
        <div class="ender">
            <div class="left_bar">
                <!-- alt = alternate text shown if the image can't be displayed -->
                <img src="images/icon.png" alt="" height="65" class="icon" />
                <!-- Table for div is to help center the text in it to be in the middle of the div -->
            </div>
            <p style="margin-left: auto; padding-right: 40px;">Free Swap</p>

        </div>
    </div>
</body>

</html>