<%- include('partials/navbar') %>
    <link rel="stylesheet" href="/css/loginstyle.css">

    <div class="screen">
        <div class="screen__content">
            <form class="login" action="/login" method="post">
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" placeholder="Username" name="username" id="password"
                        required>
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" class="login__input" placeholder="Password" name="password" id="password"
                        required>
                </div>
                <button class="button login__submit">
                    <span class="button__text">Log In Now</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>

        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
    <!-- <form>
                <div class = "login_page">
                <p style="font-family:Barlow ; color:#D44420; font-size: 50px; position: absolute; top: 150px; left: 630px">Admin Login</p>
                <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username" >
                <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
                <input type="submit" value="Login" id="login-form-submit">
            </form> -->
    <!-- <img src="images/scot.png" alt="" height="200" 
                 style="position:absolute; top:0px; right:40px ; width:500px; height:550px; border:none;" > -->
    </div>
    </div>
    </body>

    </html>