<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <ul>
        <% for (var i=0; i < items.length; i++) { %>
            <li>
                <div>
                    <span>
                        <%= items[i].name %>
                    </span>
                    <span>
                        <%= items[i].description %>
                    </span>
                </div>
            </li>
            <% } %>
    </ul>

    <form method="POST" action="/testing-database">
        <input type="text" name="Name" id="Name" />
        <input type="text" name="description" id="description">
        <input type="submit" />
    </form>
</body>

</html>