.all_items_container{
    position: relative;
    align-items: center;
    width: fit-content;
}

.new_items_info{
         border: none;
         background: none;
         font-weight: 700;
         margin: 20px;
         
}




/* .Name{
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 34px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
} */


.description{
    padding: 36px 20px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 24px;

}

.name{
    padding: 10px 20px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 24px;

}
.type{
    padding: 10px 20px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 24px;

}

.image-submit{
    margin-top:30px;
}

.final__submit {
    background: #D44420;
    font-size: 15px;
    margin-top: 30px;
    padding: 16px 0px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    cursor: pointer;
    width: 100%;
    
}

