
.container {
  max-width: 1680px;
  /* Centers it within body */
  margin: auto;
  background-color: white;

  /* IMPORTANT NOTICE HERE: ALL FONTS ARE THE SAME */
  /* Set font for all items */
  font-family: system-ui;
  font-style: normal;
  

  /* Allows container to fill screen */
  height: 100vh;


}

.flex-container {
  flex: 1 0 80%;
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  
  padding: 35px;
  width: 200px;
  height: 150px;
  margin-top: 60px;  
  line-height: 12px;  
  /* font-weight: bold; */
  text-align: center;
  font-family: arial;
 

}

/* All elements in left_container */
.left_bar_container {
  flex: 1 0 20%;
  background-color: #01426A;
  color: white;

}

.left_bar_container > .icon_and_admin_text > img {
  height: 50px;
  margin: 20px;

}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;cf
  color: white;
  font-size: 20px; 
  text-align: center;
}

