
.flex-container {
  flex: 1 0 80%;
  /* We first create a flex layout context */
  display: flex;
  background-color: white;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  
  padding: 35px;
  width: 200px;
  height: 150px;
  margin-top: 60px;  
  line-height: 10px;  
  /* font-weight: bold; */

 

}

/* All elements in left_container */
.left_bar_container {
  flex: 1 0 20%;
  background-color: #01426A;
  color: white;

}

.left_bar_container > p {
  font-size: 26px;
  margin: 10px 0px 0px 20px;

}

.left_bar_container > .black_line {
  height: 2px;
  margin: 5px 10px;
  background-color: black;
}

.left_bar_container > .menu {
  padding: 0px 10px 10px 20px;
  font-size: 14px;

}

.left_bar_container > .menu > .sort_filter_selector {
  display: flex;
  align-items: center;
  margin: 5px 0px;

}

.left_bar_container >.menu > .sort_filter_selector > input {
  scale: 1.3;

}

.left_bar_container >.menu > .sort_filter_selector > input:checked + p {
  color: #b22200;
  background-color: white;
  font-weight: 700;

}

.left_bar_container > .menu > .sort_filter_selector > p {
  padding: 2px 5px;
  margin: 0px 0px 0px 4px;
  transition: 0.5s;
  border-radius: 5px;

}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 135px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  text-align: center;
  font-family: arial;
  line-height: 20px; 
}




