.container {
  /* Point of making container flexbox is to allow all the elements to take up the full height of the screen by
  setting the container to min-height: 100vh and the elements inside to flex-grow: 1 */
  display: flex;
  flex-wrap: wrap;

  /* Adds in each item underneath the previous item rather than along the same row */
  flex-direction: column;
}

.flex-container {
  flex: 1 0 80%;
  /* We first create a flex layout context */
  display: flex;
  background-color: white;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}


/* All elements in left_container */
.left_bar_container {
  flex: 1 0 20%;
  background-color: #01426A;
  color: white;
  font-family: system-ui;

}

.left_bar_container > p {
  font-size: 26px;
  margin: 10px 0px 0px 20px;

}

.left_bar_container > .black_line {
  height: 2px;
  margin: 5px 10px;
  background-color: black;

}

.left_bar_container > .menu {
  padding: 0px 10px 10px 20px;
  font-size: 14px;

}

.left_bar_container > .menu > .sort_filter_selector {
  display: flex;
  align-items: center;
  margin: 5px 0px;

}

.left_bar_container >.menu > .sort_filter_selector > input {
  scale: 1.3;

}

.left_bar_container >.menu > .sort_filter_selector > input:checked + p {
  color: #b22200;
  background-color: white;
  font-weight: 700;

}

.left_bar_container > .menu > .sort_filter_selector > p {
  padding: 2px 5px;
  margin: 0px 0px 0px 4px;
  transition: 0.5s;
  border-radius: 5px;

}

/* All elements in the single_item */
.single_item {
  /* box-shadow: 0 6px 10px 0 rgba(100, 36, 145, 0.2); */
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 50px;  
  padding: 40px;
  display: flex;
  flex-direction: column;
 
}

.single_item > .text {
  text-align: left;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
  display: flex;
  flex-wrap: wrap;

}

.single_item > .text > h3 {
  margin: 3px 0px;
  flex-basis: 100%;
}

.single_item > .text > p {
  margin: 3px 4px 3px 0px;
}

.single_item > .text > .break {
  flex-basis: 100%;
  height: 0;
}

.single_item > .single_item-img {
 
  width: 300px;
  height: 160px;
 
}  


.single_item button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(64, 64, 109);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  font-family: 'Barlow';
  margin-top: 4px;
}

.single_item button:hover {
  opacity: 0.7;
}







