.individual_item_container {
    display: flex;
    padding-top: 30px;
}

.individual_item_container > .image_container {
    flex: 0 0 50%;
    align-items: center;
    text-align: center;
}

.individual_item_container > .image_container > img {
    width: 75%;
}

.right_side {
    padding: 0px 10px;
}

.label {
    font-size: 23px;
    margin: 0px;
}

.text_description {
    font-size: 18px;
    margin: 10px 0px;
}




@media only screen and (max-width: 600px) {
    .individual_item_container {
        flex-direction: column;
    }

    .image_container > img {
        width: 90%;
        margin-bottom: 15px;
    }

    .label {
        font-size: 19px;
    }

    .text_description {
        font-size: 17px;
    }

}