<!DOCTYPE html>
<!-- index.html will always be the first file the browser opens -->
<html lang="en-US">

<head>
    <!-- Includes information about website -->
    <title>
        Admin Page
    </title>
    <meta charset="utf-8"> <!-- IMPORTANT TO ADD THIS LINE -->
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <!-- allows website to be displayed correctly on mobile devices -->
    <meta name="author" content="Timothy Lang">
    <meta name="description" content="A website to host Free Swap">
    <meta name="keywords" content="Macalester, free swap">

    <!-- Folder that will determine css stylings -->
    <link rel="stylesheet" href="/css/admin-sidebar.css">
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.jpg" />

</head>

<body>
    <div class="container">
        <div class="left_bar_container">
            <div class="icon_and_admin_text">
                <img src="/images/icon.png" onclick="location.href = '/';">
                <p>Free Swap Admin</p>
            </div>
            <div class="button" onclick="location.href = '/admin';">
                <img src="/images/side_button.png">
                <p>All Items</p>
            </div>
            <div class="button" onclick="location.href = '/admin-newitem';">
                <img src="/images/side_button.png">
                <p>New Items</p>
            </div>
        </div>
        <div class="right_side_container">
            <div class="toptopbar">
                <p class="items_label">Items</p>
                <button onclick="location.href = '/';">HOME</button>
                <button onclick="location.href = '/logout';">LOGOUT</button>
            </div>
            <div class="all_items_container">