<div class="menu">
    <div class="sort_filter_selector">
        <input type="checkbox" id="" onchange="filter('Shoes')">
        <p>Shoes</p>
    </div>
    <div class="sort_filter_selector">
        <input type="checkbox" id="" onchange="filter('Shirts')">
        <p>Shirts</p>
    </div>
    <div class="sort_filter_selector">
        <input type="checkbox" id="" onchange="filter('Pants')">
        <p>Pants</p>
    </div>
    <div class="sort_filter_selector">
        <input type="checkbox" id="" onchange="filter('Toiletries')">
        <p>Toiletries</p>
    </div>
    <div class="sort_filter_selector">
        <input type="checkbox" id="" onchange="filter('House Items')">
        <p>House Items</p>
    </div>
    <div class="sort_filter_selector">
        <input type="checkbox" id="" onchange="filter('Seasonal')">
        <p>Seasonal</p>
    </div>
    <div class="sort_filter_selector">
        <input type="checkbox" id="" onchange="filter('Other')">
        <p>Other</p>
    </div>
</div>