<div class="menu">
    <div class="sort_filter_selector">
        <input type="checkbox" id="Shoes" onchange="filter('Shoes')">
        <p>Shoes</p>
    </div>
    <div class="sort_filter_selector">
        <input type="checkbox" id="Shirts" onchange="filter('Shirts')">
        <p>Shirts</p>
    </div>
    <div class="sort_filter_selector">
        <input type="checkbox" id="Pants" onchange="filter('Pants')">
        <p>Pants</p>
    </div>
    <div class="sort_filter_selector">
        <input type="checkbox" id="Toiletries" onchange="filter('Toiletries')">
        <p>Toiletries</p>
    </div>
    <div class="sort_filter_selector">
        <input type="checkbox" id="House Items" onchange="filter('House Items')">
        <p>House Items</p>
    </div>
    <div class="sort_filter_selector">
        <input type="checkbox" id="Seasonal" onchange="filter('Seasonal')">
        <p>Seasonal</p>
    </div>
    <div class="sort_filter_selector">
        <input type="checkbox" id="Other" onchange="filter('Other')">
        <p>Other</p>
    </div>
</div>