<!DOCTYPE html>
<!-- index.html will always be the first file the browser opens -->
<html lang="en-US">

<head>
    <!-- Includes information about website -->
    <title>Macalester Free Swap</title>
    <meta charset="utf-8" />

    <!-- allows website to be displayed correctly on mobile devices -->
    <!-- IMPORTANT LINE, DO NOT DELETE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Timothy, Laith, Kaleb, and Johan" />
    <meta name="description" content="Macalester Free Swap" />
    <meta name="keywords" content="Macalester, Free Swap" />

    <!-- Folder that will determine css stylings -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.jpg" />
</head>


<body>
    <div class="container">
        <!-- Just a div, but exclusively for navigation bar at the top of the screen. Used by Google to help with search engine -->
        <nav class="navigation_bar">
            <div class="left_bar font">
                <!-- alt = alternate text shown if the image can't be displayed -->
                <img src="/images/icon.png" alt="" height="65" class="icon" onclick="location.href = '/';"/>
                <!-- Table for div is to help center the text in it to be in the middle of the div -->
                <p>Free Swap</p>
            </div>
            <div class="middle_bar">
                <button type="button" onclick="location.href = '/';" class="middle_items font">
                    Home
                </button>
                <button type="button" onclick="location.href = '/about';" class="middle_items font">
                    About
                </button>
                <button type="button" onclick="location.href = '/admin';" class="middle_items font">
                    Admin
                </button>
                <button type="button" onclick="location.href = '/all-items';" class="middle_items font">
                    All Items
                </button>
            </div>
            <div class="menu_container small_screen">
                <div class="menu_dropdown">
                    <p onclick="location.href = '/all-items';">All Items</p>
                    <p onclick="location.href = '/about';">About</p>
                    <p onclick="location.href = '/';">Home</p>
                </div>
                <div class="menu_icon" onclick="openMenu(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <script>
                    function openMenu(x) {
                        x.classList.toggle("change");
                        document.getElementsByClassName("menu_dropdown")[0].classList.toggle("change");
                    }
                </script>
            </div>
            <input type="Search" placeholder="Search" class="font search_bar" />
            <!-- Sets up functionality for searchbar -->
            <script src="/javascript/setup_search.js"></script>
        </nav>